In [1]:
def add(x,y):
  return x + y

In [2]:
add(5,6)

11

In [14]:
#returns the hypotenuse of a triangle when given the two sides a,b
def hypotenuse(a,b):
    return math.sqrt(a ** 2 + b ** 2)

In [15]:
hypotenuse(3,4)

5.0

In [22]:
l = ['a', 'b', 123]

In [23]:
l.append('def')

In [25]:
l[0]

'a'

In [26]:
l.extend(['ghi', 3, 4]) # appends items within list as invidiual items

In [27]:
l

['a', 'b', 123, 'def', 'ghi', 3, 4]

In [28]:
l.append(['ghi', 3, 4]) # appends a list inside of list

In [29]:
l

['a', 'b', 123, 'def', 'ghi', 3, 4, ['ghi', 3, 4]]

In [30]:
l.insert(3, 'jane')

In [31]:
l

['a', 'b', 123, 'jane', 'def', 'ghi', 3, 4, ['ghi', 3, 4]]

In [32]:
p = l.pop()

In [33]:
p

['ghi', 3, 4]

In [34]:
l

['a', 'b', 123, 'jane', 'def', 'ghi', 3, 4]

In [38]:
p = l.pop()

In [39]:
p

4

In [42]:
l.pop(2)

123

In [43]:
l.remove()

TypeError: remove() takes exactly one argument (0 given)

In [44]:
l

['a', 'b', 'jane', 'def', 'ghi', 3]

In [45]:
l.reverse()

In [46]:
l

[3, 'ghi', 'def', 'jane', 'b', 'a']

When to use sets
- When you only need unique values
- When the data types youâ€™re working with are relatively basic (hashable)
- When your data changes
- When you need to manipulate your sets mathematically (set supports operations like union, intersection, difference, etc)

In [48]:
s = 1,2,'abc'

In [49]:
type(s)

tuple

In [50]:
# tuples are fast!
s[1]

2

In [51]:
student = {"name":"Monica", "age":22, "school":"Columbia"}

In [52]:
student[0] # :O This doesn't work!

KeyError: 0

In [53]:
student['name']

'Monica'

In [54]:
shows = {'firefly': ['mal','kaylee', 'inara'], 'battlestar galatica':['starbuck', 'adama', 'baltar']}

In [55]:
shows

{'battlestar galatica': ['starbuck', 'adama', 'baltar'],
 'firefly': ['mal', 'kaylee', 'inara']}

In [56]:
shows['firefly'] # dictionaries can have string, integers, lists

['mal', 'kaylee', 'inara']

In [57]:
# print out ('in show <name>, there are the characters <character names>')

In [71]:
for show,characters in shows.items(): # looks at the items in shows 
    #print(show)
    print("In the show", show, "there are the characters", characters)

In the show battlestar galatica there are the characters ['starbuck', 'adama', 'baltar']
In the show firefly there are the characters ['mal', 'kaylee', 'inara']

In [76]:
for show,characters in shows.items(): # looks at the items in shows 
    #print(show)
    print("In the show", show, "there are the characters",', '.join(characters))

In the show battlestar galatica there are the characters starbuck, adama, baltar
In the show firefly there are the characters mal, kaylee, inara

In [77]:
l = [1,2]

In [78]:
a,b = l

In [79]:
a

1

In [80]:
b

2

In [81]:
shows.keys()

dict_keys(['battlestar galatica', 'firefly'])

In [82]:
shows.values()

dict_values([['starbuck', 'adama', 'baltar'], ['mal', 'kaylee', 'inara']])

In [83]:
show

'firefly'

dictionaries by default are unordered! 

can use `collections.OrderedDict` if keys need to be ordered

In [86]:
from collections import defaultdict

In [87]:
d = defaultdict(str)

In [94]:
d

defaultdict(str, {'Arizona': '', 'ak': 'Alaska', 'az': 'Arizona'})

In [89]:
d['ak'] = 'Alaska'

In [90]:
d

defaultdict(str, {'ak': 'Alaska'})

In [105]:
d['az'] = 'Arizona'

In [106]:
d['az']

'Arizona'

In [107]:
d['Arizona'] # no Arizona value -- sets it equal to an empty string

''

In [108]:
d

defaultdict(str, {'Arizona': '', 'ak': 'Alaska', 'az': 'Arizona'})