# Debugging Classwork

In [1]:
import pandas as pd
import requests
import dateutil.parser
import datetime

/Users/Monica/.virtualenvs/dataanalysis/lib/python3.5/site-packages/matplotlib/__init__.py:1035: UserWarning: Duplicate key in file "/Users/Monica/.matplotlib/matplotlibrc", line #2
  (fname, cnt))

## Walkthrough #1

In [2]:
mytime = "0926P"

In [3]:
dateutil.parser.parse(mytime)

ValueError: hour must be in 0..23

In [4]:
import datetime
newtime = "0926PM"
datetime.datetime.strptime(newtime, "%I%M%p")

datetime.datetime(1900, 1, 1, 21, 26)

In [5]:
def convert_to_time(str_time):
    with_pm = str_time + 'M'
    return datetime.datetime.strptime(newtime, "%I%M%p")

In [6]:
timestring = "0929P"
convert_to_time(timestring)

datetime.datetime(1900, 1, 1, 21, 26)

## Walkthough #2

In [7]:
# Read in the dataframe
times_df = pd.read_csv("times-and-serials.csv")
times_df.head()

      Owner     Time  Serial Number
0  Daniella  8:35 AM           7754
1   Carleen  7:46 AM           6881
2     Daron  1:35 AM           4509
3    Cherly  1:35 AM           2310
4     Manda  1:35 AM           4362

In [8]:
# Try out a way of parsing one of the dates
datetime.datetime.strptime("8:35 AM", "%I:%M %p")

datetime.datetime(1900, 1, 1, 8, 35)

In [9]:
times_df['Time'].apply(time_to_datetime)

NameError: name 'time_to_datetime' is not defined

In [ ]:
import numpy as np
# Build a function using that method
def time_to_datetime(str_time):
    print("Trying to convert", str_time, "into a time")
    try:
        if str_time == -999:
            print("It's -999")
            return np.nan
        return datetime.datetime.strptime(str_time.strip(), "%I:%M %p")
    except:
        return np.nan

In [ ]:
# Apply that method to the 'Time' column of the dataframe
times_df['Time'].apply(time_to_datetime)

In [11]:
%pdb on

Automatic pdb calling has been turned ON

In [ ]:
times_df['converted_time'] = times_df['Time'].apply(time_to_datetime)

In [ ]:
times_df.head(10)

In [14]:
times_df[pd.isnull(times_df['converted_time'])]

         Owner      Time  Serial Number converted_time
7     Berneice      -999           6995            NaT
15      Renato  GERTRUDE           3226            NaT
23  Monserrate  45:18 PM           5634            NaT
29     Brianne       527              0            NaT
36      Meggan   0:17 AM           5241            NaT

## Walkthrough #4

1. I want to make sure my Plate ID is a string. Can't lose the leading zeroes!
2. I don't think anyone's car was built in 0AD. Discard the '0's as NaN.
3. I want the dates to be dates! Read the read_csv documentation to find out how to make pandas automatically parse dates.
4. "Date first observed" is a pretty weird column, but it seems like it has a date hiding inside. Using a function with .apply, transform the string (e.g. "20140324") into a Python date. Make the 0's show up as NaN.
5. "Violation time" is... not a time. Make it a time.
6.  There sure are a lot of colors of cars, too bad so many of them are the same. Make "BLK" and "BLACK", "WT" and "WHITE", and any other combinations that you notice.
7. Join the data with the Parking Violations Code dataset from the NYC Open Data site.

> `read_csv` documentation can be found at http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [ ]:
# import numpy as np

In [ ]:
df = pd.read_csv("million-violations.csv", nrows=1000000)
df.head()