# Notes for June 21st 2016

## Sorting LISTS

In [1]:
x = ["aardvark", "crocodile", "bee", "duck", "emu"]

In [3]:
sorted(x)

['aardvark', 'bee', 'crocodile', 'duck', 'emu']

In [4]:
x.sort() # doesn't return anything but then the underlying list is sorted

In [5]:
x

['aardvark', 'bee', 'crocodile', 'duck', 'emu']

In [6]:
# sorted by second letter: ['aardvark', 'bee', 'emu', 'crocodile', 'duck']

In [7]:
sorted(x, reverse = True ) # sorts in reverse alpha order

['emu', 'duck', 'crocodile', 'bee', 'aardvark']

In [9]:
# sorted(x, key=) # the value of key is a function that returns one paramter and returns a string

In [10]:
def get_second_letter(s):
    return s[1]

In [11]:
get_second_letter("cheese")

'h'

In [12]:
sorted(x, key=get_second_letter) # call this function first with that value and use the value that is returned from the function to sort

['aardvark', 'bee', 'emu', 'crocodile', 'duck']

In [13]:
type(get_second_letter)

function

In [14]:
get_second_letter = lambda s: s[1] # only works with functions that do not have statements inside
# lambda functions can be defined in one line!

In [15]:
planets = [
 {'diameter': 0.382,
  'mass': 0.06,
  'moons': 0,
  'name': 'Mercury',
  'orbital_period': 0.24,
  'rings': 'no',
  'type': 'terrestrial'},
 {'diameter': 0.949,
  'mass': 0.82,
  'moons': 0,
  'name': 'Venus',
  'orbital_period': 0.62,
  'rings': 'no',
  'type': 'terrestrial'},
 {'diameter': 1.00,
  'mass': 1.00,
  'moons': 1,
  'name': 'Earth',
  'orbital_period': 1.00,
  'rings': 'no',
  'type': 'terrestrial'},
 {'diameter': 0.532,
  'mass': 0.11,
  'moons': 2,
  'name': 'Mars',
  'orbital_period': 1.88,
  'rings': 'no',
  'type': 'terrestrial'},
 {'diameter': 11.209,
  'mass': 317.8,
  'moons': 67,
  'name': 'Jupiter',
  'orbital_period': 11.86,
  'rings': 'yes',
  'type': 'gas giant'},
 {'diameter': 9.449,
  'mass': 95.2,
  'moons': 62,
  'name': 'Saturn',
  'orbital_period': 29.46,
  'rings': 'yes',
  'type': 'gas giant'},
 {'diameter': 4.007,
  'mass': 14.6,
  'moons': 27,
  'name': 'Uranus',
  'orbital_period': 84.01,
  'rings': 'yes',
  'type': 'ice giant'},
 {'diameter': 3.883,
  'mass': 17.2,
  'moons': 14,
  'name': 'Neptune',
  'orbital_period': 164.8,
  'rings': 'yes',
  'type': 'ice giant'}]

In [16]:
def get_moon_count(d): # returns number of moonds 
    return d['moons']

In [17]:
[p['name'] for p in sorted(planets, key=lambda x:x['moons'])] # sorts planets by number of moons

['Mercury', 'Venus', 'Earth', 'Mars', 'Neptune', 'Uranus', 'Saturn', 'Jupiter']

In [18]:
[p['name'] for p in sorted(planets, key=get_moon_count)] # sorts planets by number of moons

['Mercury', 'Venus', 'Earth', 'Mars', 'Neptune', 'Uranus', 'Saturn', 'Jupiter']

In [20]:
[p['name'] for p in \
sorted(planets, key=lambda d: d['diameter'], reverse=True)\
if p['diameter'] > 4]

['Jupiter', 'Saturn', 'Uranus']

## tuple

In [23]:
t = (5,10,15) # similar to list

In [24]:
type(t)

tuple

In [25]:
t[0]

5

In [26]:
for item in t:
    print(item*item)

25
100
225

In [27]:
t.append(30) # :O Tuple has no attribute append

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
carefree_list = [5,10,15,20,25]

In [29]:
carefree_list.append(30)

In [30]:
carefree_list

[5, 10, 15, 20, 25, 30]

In [32]:
carefree_list[1] = "Mr. Crabs"

In [33]:
carefree_list

[5, 'Mr. Crabs', 15, 20, 25, 30]

In [35]:
# t[1] = "Mr. Fluffypants" #you cannot reassign elements in tuple. A tuple cannot be changed after it is assigned. It is an immutable data type.

tuples are immutable, one benefit is exactly that it cannot be changed, other benegit is that tuples are memory-efficient. Whereas, when you create lists Python tries to overestimate the size of the list. It is slow for the computer to reallocate memory on the computer.

In [36]:
hello = [1,2,3]

In [37]:
foo = (1,2,3)

In [39]:
import sys
sys.getsizeof(hello)

88

In [40]:
sys.getsizeof(foo) # tuple is smaller than list even thoiugh they have the same amount of items

72

# back to regular expressions

In [46]:
import re 
test = "one 1 two 1 three 3 four 4 five 5"
re.findall(r"\w+ \d", test) #one or more alpha charactrs followed by a space and one ore more numbers

['one 1', 'two 1', 'three 3', 'four 4', 'five 5']

In [51]:
re.findall(r"(\w+) (\d)",test)
# returns a list of tuples - where the 0th element corresponds to the first group and the 1st element corresponds to the second group

[('one', '1'), ('two', '1'), ('three', '3'), ('four', '4'), ('five', '5')]

In [53]:
all_subjects = open("enronsubjects.txt").read()

In [60]:
for item in re.findall(r"(\d{3})-(\d{3})-(\d{4})", all_subjects):
    print(item[0]) #returns area codes

713
713
713
713
713
713
713
713
713
713
713
281
713
713
713
713
713
713
281
713
713
713
614
713
303
281
800
800
888

In [62]:
[item[0] for item in re.findall(r"(\d{3})-(\d{3})-(\d{4})", all_subjects)]

['713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '281',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '281',
 '713',
 '713',
 '713',
 '614',
 '713',
 '303',
 '281',
 '800',
 '800',
 '888']

In [63]:
### monetary amounts in subject lines

In [65]:
# math somethlike $10 m,k,b
re.findall(r"\$(\d+) ?(\w+)", all_subjects) # money sgn, one or more digits, followed potentially by a space and one or more char

[('22', '8'),
 ('22', '8'),
 ('10', 'M'),
 ('10', 'M'),
 ('10', 'M'),
 ('10', 'M'),
 ('6', '8'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('82', '0'),
 ('82', '0'),
 ('40', 'Million'),
 ('27', 'Billion'),
 ('27', 'Billion'),
 ('5', '0'),
 ('5', '0'),
 ('89', '5'),
 ('89', '5'),
 ('1', '9'),
 ('1', '9'),
 ('1', '9'),
 ('1', '9'),
 ('870', 'K'),
 ('870', 'K'),
 ('14', '1'),
 ('14', '1'),
 ('21', 'billion'),
 ('6', 'million'),
 ('14', 'bln'),
 ('14', 'bln'),
 ('100', 'PRICE'),
 ('250', 'Cap'),
 ('350', 'MM'),
 ('1', '2'),
 ('1', '2'),
 ('1', '2'),
 ('1', '2'),
 ('10', 'Three'),
 ('70', '0'),
 ('70', '0'),
 ('70', '0'),
 ('10', 'you'),
 ('10', 'you'),
 ('13', 'B'),
 ('13', 'B'),
 ('100', 'on'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('97', '1'),
 ('97', '1'),
 ('97', '1'),
 ('97', '1'),
 ('97', '1'),
 ('97', '1'),
 ('1', 'Billion'),
 ('1', 'Billion'),
 ('39', 'in'),
 ('39', 'in'),
 ('1', '0'),
 ('1', '0'),
 ('14', '9'),
 ('5', '0'),
 ('5', '0'),
 ('5', '0'),
 ('2', '1'),
 ('21', 'P'),
 ('550', 'Million'),
 ('455', 'Million'),
 ('5', 'million'),
 ('5', 'million'),
 ('5', 'million'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('100', 'Price'),
 ('2', '0'),
 ('2', '0'),
 ('2', '0'),
 ('2', '0'),
 ('10', '0'),
 ('10', '0'),
 ('10', '0'),
 ('2', '0'),
 ('2', '0'),
 ('2', '9'),
 ('2', '9'),
 ('2', '9'),
 ('2', '9'),
 ('2', '9'),
 ('2', '9'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('6', '7'),
 ('100', 'mil'),
 ('50', 'per'),
 ('21', '2'),
 ('21', '2'),
 ('21', '2'),
 ('21', '2'),
 ('21', '2'),
 ('21', '2'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('4', '2'),
 ('4', '2'),
 ('4', '2'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('1', '0'),
 ('1', '0'),
 ('1', '6'),
 ('1', '6'),
 ('1', '6'),
 ('8', 'Million'),
 ('8', 'Million'),
 ('500', 'mm'),
 ('500', 'mm'),
 ('500', 'mm'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('50', 'M'),
 ('102', 'Target'),
 ('102', 'Target'),
 ('20', '0'),
 ('5', '0'),
 ('25', 'Million'),
 ('25', 'Million'),
 ('25', 'Million'),
 ('120', 'EXTRA'),
 ('120', 'EXTRA'),
 ('45', 'Million'),
 ('45', 'Million'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('600', 'B'),
 ('600', 'B'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('24', '0'),
 ('24', '0'),
 ('2', '2'),
 ('2', '2'),
 ('2', '2'),
 ('100', 'k'),
 ('7', '7'),
 ('18', '3'),
 ('130', 'Million'),
 ('130', 'Million'),
 ('130', 'Million'),
 ('1', 'mm'),
 ('1', '0'),
 ('1', '0'),
 ('1', '0'),
 ('1', '0'),
 ('1', '0'),
 ('1', '0'),
 ('128', 'Return'),
 ('128', 'Return')]

In [71]:
vals = []
for item in re.findall(r"\$(\d+) ?([mMbBkK])", all_subjects):
    multiplier = item[1].lower()
    number_val = int(item[0])
    if multiplier == 'k':
        number_val *= 1000
    elif multiplier == 'm':
        number_val *= 10000000
    elif multiplier == 'b':
        number_val *= 1000000000 
    vals.append(number_val)
sum(vals)

1391516340000

### substitution with regular expressions

In [72]:
message = "this is a test, this is only a test"

In [73]:
message.replace("this", "that")

'that is a test, that is only a test'

In [74]:
message

'this is a test, this is only a test'

In [75]:
re.sub(r"\b\w+\b", "WALRUS", message)

'WALRUS WALRUS WALRUS WALRUS, WALRUS WALRUS WALRUS WALRUS WALRUS'

In [76]:
anon = re.sub(r"\d{3}-\d{3}-\d{4}", "555-555-5555", all_subjects)

In [77]:
re.findall(r".{,20}\d{3}-\d{3}-\d{4}.{,20}", anon)

['Call Chris 555-555-5555',
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 'Terry 555-555-5555',
 'Re: 555-555-5555',
 "W: Mark's number is 555-555-5555",
 "E: Mark's number is 555-555-5555",
 "Mark's number is 555-555-5555",
 "E: Mark's number is 555-555-5555",
 "Mark's number is 555-555-5555",
 'ease call for map 1-555-555-5555 or',
 'Bill F 555-555-5555',
 ' Jonathon Fairbanks 555-555-5555w/555-555-5555c and ',
 'irk re CGAS lawsuit 555-555-5555',
 ' Johnston at Dynegy 555-555-5555 re Debbie Chance',
 'data /Tracy Ashmore-555-555-5555',
 'Re: Kaye Ellis - 555-555-5555 (home)',
 'n Paper Conf Call 1-555-555-5555,',
 'O policies.  Dial 1-555-555-5555 and ask for the Jul',
 'nf Call (Alvarez) 1-555-555-5555, HC:']

In [85]:
x = "This is a test"

In [89]:
re.sub(r"([tT])\w+", "\that", x)

'\that is a \that'

In [90]:
from urllib.request import urlretrieve
#saves the file with that name in the same file that the jupyter server is running n . 
urlretrieve("https://raw.githubusercontent.com/ledeprogram/data-and-databases/master/menupages-morningside-heights.html", "menupages-morningsideheights.html")

('menupages-morningsideheights.html', <http.client.HTTPMessage at 0x102888780>)

We want to store:
 * restaurant name
 * price (\$$$$)
 * cuisines
 
 research phase:
 * restaurants are in `<td>` tags with class `name-address`
 * restaurant names are in `<a>` tag inside that `<td>`
 * restaurant price in a `span` inside a `td` with class `price`
 * restaurant cuisine has no class and is in a `td` - it is the 5th child of the restaurant's `tr` tag 
 
 target:
 * list of dictionaries 
 [ 
 {'name': "Brad's", 'price': 1, 'cuisine':}
 ]

In [1]:
from bs4 import BeautifulSoup

In [2]:
raw_html = open("menupages-morningsideheights.html").read()
soup = BeautifulSoup(raw_html, "html.parser")

In [17]:
search_table = soup.find("table", {'class': 'search-results'})
table_body = search_table.find('tbody')
for tr_tag in table_body.findAll('tr'):
    name_address_tag = tr_tag.find('td', {'class':'name-address'})
    a_tag = name_address_tag.find('a')
    print(a_tag.string)

Milano Market
Massawa
China Place
Subsconscious
Famous Famiglia
Kitchenette
V & T Pizza
New Aroma
Peking Garden
Tom's Restaurant
Pisticci
Deluxe
Toast
Tom's Delicious Pizza
West Place
Che' Bella Pizza
Ajanta
Panino Sportivo Roma
Max Soha
Strokos Pizza
Camille's
Amsterdam Restaurant
Nussbaum & Wu
Amir's Grill
M2M - Morning To Midnight
The Mill
Le Monde
Melba's
Chuck E Cheese's
Haagen-Dazs
Oren's
Dinosaur Bar-B-Que
Symposium Greek Restaurant
Koronet Pizza
The Heights Bar & Grill
Cafe Nana
Hamilton Deli
Community Food & Juice
Haakon's Hall
El Porton
Brad's
Mel's Burger Bar
Bettolona
Five Guys
Nikko
Falafel on Broadway
Sushi Sushi
Insomnia Cookies
Cafe Amrita
Pinkberry
Artopolis Espresso Cafe
Max Caffe
Chipotle
Chokolat Patisserie
Chokolat Patisserie
Joe's G-H Deli
Joe the Art of Coffee
Levain Bakery
Silvana
Bier International
Vegenation
Flat Top
Kuro Kuma
Vinateria
Henan Cart
Vine
El Paso Truck
Mama's Fried Chicken and Pizza
Chapati House
Dig Inn Seasonal Market
Uncle Luoyang
Pita Grill
Kissaten Jin
Serengeti Teas & Spices
Lighthouse Fish Market & Restaurant
Lolo's Seafood Shack
Harmony
Bernheim & Schwartz
BTH (By The Hudson)
Empanadas Monumental
Friedman's
176 Presbyterian Deli
Nacho Mama's
Streetbird Rotisserie
Colum Chinese Restaurant
Flacoz Tacoz
sweetgreen
La Salle Dumpling Room

In [26]:
search_table = soup.find("table", {'class': 'search-results'})
table_body = search_table.find('tbody')
for tr_tag in table_body.findAll('tr'):
    # get the restaurant name from the a inside a td
    name_address_tag = tr_tag.find('td', {'class':'name-address'})
    a_tag = name_address_tag.find('a')
    restaurant_name = a_tag.string
    
    # get the price from the span if present 
    price_tag = tr_tag.find('td', {'class':'price'})
    price_span_tag = price_tag.find('span')
    if price_span_tag:
        price = int(price_span_tag.string)
    else: 
        price = 0
   
    #sometimes there is no span, if the price is N/A
    
    print(restaurant_name, price)

Milano Market 2
Massawa 0
China Place 0
Subsconscious 0
Famous Famiglia 0
Kitchenette 0
V & T Pizza 0
New Aroma 1
Peking Garden 1
Tom's Restaurant 1
Pisticci 1
Deluxe 1
Toast 2
Tom's Delicious Pizza 2
West Place 1
Che' Bella Pizza 0
Ajanta 0
Panino Sportivo Roma 2
Max Soha 2
Strokos Pizza 3
Camille's 1
Amsterdam Restaurant 1
Nussbaum & Wu 0
Amir's Grill 1
M2M - Morning To Midnight 1
The Mill 2
Le Monde 1
Melba's 1
Chuck E Cheese's 0
Haagen-Dazs 1
Oren's 0
Dinosaur Bar-B-Que 3
Symposium Greek Restaurant 0
Koronet Pizza 1
The Heights Bar & Grill 1
Cafe Nana 0
Hamilton Deli 0
Community Food & Juice 0
Haakon's Hall 0
El Porton 0
Brad's 1
Mel's Burger Bar 2
Bettolona 1
Five Guys 1
Nikko 2
Falafel on Broadway 1
Sushi Sushi 1
Insomnia Cookies 1
Cafe Amrita 1
Pinkberry 2
Artopolis Espresso Cafe 1
Max Caffe 2
Chipotle 1
Chokolat Patisserie 5
Chokolat Patisserie 1
Joe's G-H Deli 2
Joe the Art of Coffee 1
Levain Bakery 2
Silvana 1
Bier International 1
Vegenation 1
Flat Top 4
Kuro Kuma 1
Vinateria 2
Henan Cart 1
Vine 2
El Paso Truck 1
Mama's Fried Chicken and Pizza 1
Chapati House 2
Dig Inn Seasonal Market 1
Uncle Luoyang 1
Pita Grill 2
Kissaten Jin 1
Serengeti Teas & Spices 2
Lighthouse Fish Market & Restaurant 3
Lolo's Seafood Shack 2
Harmony 1
Bernheim & Schwartz 2
BTH (By The Hudson) 3
Empanadas Monumental 0
Friedman's 0
176 Presbyterian Deli 0
Nacho Mama's 0
Streetbird Rotisserie 0
Colum Chinese Restaurant 0
Flacoz Tacoz 0
sweetgreen 0
La Salle Dumpling Room 0

In [62]:
def get_name(tr_tag):
    name_address_tag = tr_tag.find('td', {'class':'name-address'})
    a_tag = name_address_tag.find('a')
    restaurant_name = a_tag.string
    return restaurant_name

def get_price(tr_tag):
    price_tag = tr_tag.find('td', {'class':'price'})
    price_span_tag = price_tag.find('span')
    if price_span_tag:
        price = int(price_span_tag.string)
    else: 
        price = 0
    return price
def get_cuisine(tr_tag):
    all_td_tags = tr_tag.find_all('td')
    cuisine_tag = all_td_tags[4]
    #print(restaurant_name)
    #print(cuisine_tag)
    cuisines = cuisine_tag.string
    if cuisines:
        cuisine_list = cuisines.split(" ,")
    else: # return an empty list of of the cuisines_tag does not have a cuisine
        cuisine_list = []

    # code here!
    # * restaurant cuisine has no class and is in a `td` 
    #- it is the 5th child of the restaurant's `tr` tag 
 
    return cuisine_list

In [65]:
restaurants = []
search_table = soup.find("table", {'class': 'search-results'})
table_body = search_table.find('tbody')
for tr_tag in table_body.findAll('tr'):
    restaurant_name = get_name(tr_tag)
    price = get_price(tr_tag)
    cuisine = get_cuisine(tr_tag)
    rest_dict = {"name": restaurant_name, "price": price, "cuisines": cuisine}
    #print(restaurant_name, price, cuisine)
    restaurants.append(rest_dict)
restaurants

[{'cuisines': ['deli, sandwiches'], 'name': 'Milano Market', 'price': 2},
 {'cuisines': ['ethiopian, african'], 'name': 'Massawa', 'price': 0},
 {'cuisines': ['chinese, japanese, sushi'], 'name': 'China Place', 'price': 0},
 {'cuisines': ['cheese-steaks, deli, sandwiches, salads'],
  'name': 'Subsconscious',
  'price': 0},
 {'cuisines': ['italian, pizza'], 'name': 'Famous Famiglia', 'price': 0},
 {'cuisines': ['bakery-pastries, american, desserts'],
  'name': 'Kitchenette',
  'price': 0},
 {'cuisines': ['italian, pizza'], 'name': 'V & T Pizza', 'price': 0},
 {'cuisines': ['chinese'], 'name': 'New Aroma', 'price': 1},
 {'cuisines': ['chinese'], 'name': 'Peking Garden', 'price': 1},
 {'cuisines': ['diner'], 'name': "Tom's Restaurant", 'price': 1},
 {'cuisines': ['italian'], 'name': 'Pisticci', 'price': 1},
 {'cuisines': ['diner, american'], 'name': 'Deluxe', 'price': 1},
 {'cuisines': ['american, bar-food'], 'name': 'Toast', 'price': 2},
 {'cuisines': ['italian, pizza'], 'name': "Tom's Delicious Pizza", 'price': 2},
 {'cuisines': ['chinese'], 'name': 'West Place', 'price': 1},
 {'cuisines': ['italian, pizza'], 'name': "Che' Bella Pizza", 'price': 0},
 {'cuisines': ['indian'], 'name': 'Ajanta', 'price': 0},
 {'cuisines': ['italian, coffee-tea, sandwiches'],
  'name': 'Panino Sportivo Roma',
  'price': 2},
 {'cuisines': ['italian'], 'name': 'Max Soha', 'price': 2},
 {'cuisines': ['deli, pizza, sandwiches, chicken'],
  'name': 'Strokos Pizza',
  'price': 3},
 {'cuisines': ['american'], 'name': "Camille's", 'price': 1},
 {'cuisines': ['american-new, tapas'],
  'name': 'Amsterdam Restaurant',
  'price': 1},
 {'cuisines': ['deli, sandwiches, bagels, salads'],
  'name': 'Nussbaum & Wu',
  'price': 0},
 {'cuisines': ['middle-eastern'], 'name': "Amir's Grill", 'price': 1},
 {'cuisines': ['japanese, sushi, deli, sandwiches'],
  'name': 'M2M - Morning To Midnight',
  'price': 1},
 {'cuisines': ['korean'], 'name': 'The Mill', 'price': 2},
 {'cuisines': ['french, bistro'], 'name': 'Le Monde', 'price': 1},
 {'cuisines': ['american-new, soul-food'], 'name': "Melba's", 'price': 1},
 {'cuisines': ['pizza, american'], 'name': "Chuck E Cheese's", 'price': 0},
 {'cuisines': ['desserts'], 'name': 'Haagen-Dazs', 'price': 1},
 {'cuisines': ['coffee-tea, sandwiches'], 'name': "Oren's", 'price': 0},
 {'cuisines': ['barbecue, soul-food'],
  'name': 'Dinosaur Bar-B-Que',
  'price': 3},
 {'cuisines': ['greek, vegetarian'],
  'name': 'Symposium Greek Restaurant',
  'price': 0},
 {'cuisines': ['pizza'], 'name': 'Koronet Pizza', 'price': 1},
 {'cuisines': ['southwestern, tapas, bar-food'],
  'name': 'The Heights Bar & Grill',
  'price': 1},
 {'cuisines': ['middle-eastern, kosher'], 'name': 'Cafe Nana', 'price': 0},
 {'cuisines': ['deli, sandwiches'], 'name': 'Hamilton Deli', 'price': 0},
 {'cuisines': ['american-new, smoothies-juices, vegetarian, healthy, localorganic'],
  'name': 'Community Food & Juice',
  'price': 0},
 {'cuisines': ['american, scandinavian'], 'name': "Haakon's Hall", 'price': 0},
 {'cuisines': ['mexican'], 'name': 'El Porton', 'price': 0},
 {'cuisines': ['coffee-tea'], 'name': "Brad's", 'price': 1},
 {'cuisines': ['burgers, bar-food'], 'name': "Mel's Burger Bar", 'price': 2},
 {'cuisines': ['italian, pizza, localorganic'],
  'name': 'Bettolona',
  'price': 1},
 {'cuisines': ['burgers, hot-dogs'], 'name': 'Five Guys', 'price': 1},
 {'cuisines': ['chinese, japanese, sushi, teahouses'],
  'name': 'Nikko',
  'price': 2},
 {'cuisines': ['middle-eastern'], 'name': 'Falafel on Broadway', 'price': 1},
 {'cuisines': ['japanese, sushi'], 'name': 'Sushi Sushi', 'price': 1},
 {'cuisines': ['bakery-pastries, desserts'],
  'name': 'Insomnia Cookies',
  'price': 1},
 {'cuisines': ['coffee-tea, sandwiches'], 'name': 'Cafe Amrita', 'price': 1},
 {'cuisines': ['desserts'], 'name': 'Pinkberry', 'price': 2},
 {'cuisines': ['coffee-tea, sandwiches, crepes'],
  'name': 'Artopolis Espresso Cafe',
  'price': 1},
 {'cuisines': ['coffee-tea, sandwiches'], 'name': 'Max Caffe', 'price': 2},
 {'cuisines': ['mexican'], 'name': 'Chipotle', 'price': 1},
 {'cuisines': ['bakery-pastries, desserts'],
  'name': 'Chokolat Patisserie',
  'price': 5},
 {'cuisines': ['bakery-pastries, coffee-tea, desserts'],
  'name': 'Chokolat Patisserie',
  'price': 1},
 {'cuisines': ['deli, sandwiches'], 'name': "Joe's G-H Deli", 'price': 2},
 {'cuisines': ['coffee-tea'], 'name': 'Joe the Art of Coffee', 'price': 1},
 {'cuisines': ['bakery-pastries, desserts'],
  'name': 'Levain Bakery',
  'price': 2},
 {'cuisines': ['middle-eastern, vegetarian'], 'name': 'Silvana', 'price': 1},
 {'cuisines': ['german, eclectic, bar-food'],
  'name': 'Bier International',
  'price': 1},
 {'cuisines': ['indian, vegetarian'], 'name': 'Vegenation', 'price': 1},
 {'cuisines': ['american-new, bistro'], 'name': 'Flat Top', 'price': 4},
 {'cuisines': ['coffee-tea'], 'name': 'Kuro Kuma', 'price': 1},
 {'cuisines': ['american-new'], 'name': 'Vinateria', 'price': 2},
 {'cuisines': ['chinese'], 'name': 'Henan Cart', 'price': 1},
 {'cuisines': ['japanese, sushi, thai'], 'name': 'Vine', 'price': 2},
 {'cuisines': ['mexican'], 'name': 'El Paso Truck', 'price': 1},
 {'cuisines': ['pizza, chicken'],
  'name': "Mama's Fried Chicken and Pizza",
  'price': 1},
 {'cuisines': ['indian'], 'name': 'Chapati House', 'price': 2},
 {'cuisines': ['american, localorganic'],
  'name': 'Dig Inn Seasonal Market',
  'price': 1},
 {'cuisines': ['chinese'], 'name': 'Uncle Luoyang', 'price': 1},
 {'cuisines': ['middle-eastern'], 'name': 'Pita Grill', 'price': 2},
 {'cuisines': ['japanese'], 'name': 'Kissaten Jin', 'price': 1},
 {'cuisines': ['coffee-tea, teahouses'],
  'name': 'Serengeti Teas & Spices',
  'price': 2},
 {'cuisines': ['seafood, wings, fish--chips'],
  'name': 'Lighthouse Fish Market & Restaurant',
  'price': 3},
 {'cuisines': ['seafood'], 'name': "Lolo's Seafood Shack", 'price': 2},
 {'cuisines': ['sandwiches, salads, teahouses'],
  'name': 'Harmony',
  'price': 1},
 {'cuisines': ['american, gastropub'],
  'name': 'Bernheim & Schwartz',
  'price': 2},
 {'cuisines': ['american-new'], 'name': 'BTH (By The Hudson)', 'price': 3},
 {'cuisines': [], 'name': 'Empanadas Monumental', 'price': 0},
 {'cuisines': [], 'name': "Friedman's", 'price': 0},
 {'cuisines': [], 'name': '176 Presbyterian Deli', 'price': 0},
 {'cuisines': [], 'name': "Nacho Mama's", 'price': 0},
 {'cuisines': [], 'name': 'Streetbird Rotisserie', 'price': 0},
 {'cuisines': [], 'name': 'Colum Chinese Restaurant', 'price': 0},
 {'cuisines': [], 'name': 'Flacoz Tacoz', 'price': 0},
 {'cuisines': [], 'name': 'sweetgreen', 'price': 0},
 {'cuisines': [], 'name': 'La Salle Dumpling Room', 'price': 0}]

In [66]:
import pandas as pd
df = pd.DataFrame(restaurants)

In [67]:
df.head()

                                    cuisines             name  price
0                         [deli, sandwiches]    Milano Market      2
1                       [ethiopian, african]          Massawa      0
2                 [chinese, japanese, sushi]      China Place      0
3  [cheese-steaks, deli, sandwiches, salads]    Subsconscious      0
4                           [italian, pizza]  Famous Famiglia      0

In [69]:
df[df['price'] > 2]

,cuisines,name,price
19,"[deli, pizza, sandwiches, chicken]",Strokos Pizza,3
31,"[barbecue, soul-food]",Dinosaur Bar-B-Que,3
53,"[bakery-pastries, desserts]",Chokolat Patisserie,5
61,"[american-new, bistro]",Flat Top,4
74,"[seafood, wings, fish--chips]",Lighthouse Fish Market & Restaurant,3
78,[american-new],BTH (By The Hudson),3